# General
.DS_Store
*.log
.env
.env.*

# Development
node_modules/
__pycache__/
.venv/
venv/
env/

# Data
backend/vectors/
backend/*.csv
backend/*.index
backend/*.pkl

# Frontend build
frontend/dist/
frontend/node_modules/
